/* styles.css (or your preferred CSS file) */
.heading {
    font-size: 1.5rem;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1rem;
    font-family: 'Ultra', sans-serif;  
     
  }
  